.large-image-container {
    position: relative;
    margin-bottom: 20px;
}

.large-image {
    object-fit: contain;
    height: 400px;
    width: 100%;
    cursor: pointer;
}

.arrow-icons {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transform: translateY(-50%);
}

.arrow-icons>svg {
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
}

.small-images img {
    width: calc(33.33% - 10px);
    height: 150px;
    margin: 0 5px;
    cursor: pointer;
    border: 4px solid transparent;
}

.small-images img.selected {
    border-color: #007bff;
}

.artist-info {
    display: flex;
    align-items: center;
}

.artist-info img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

.artist-info p {
    margin: 0;
}

.product-details-box {
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.product-details-box h2 {
    margin-bottom: 10px;
}

.product-details-box p {
    word-wrap: break-word;
    white-space: normal;
}

.artist-details-box {
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.artist-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.artist-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.artist-info h3 {
    margin: 0;
    cursor: pointer;
}

.chatButton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.chatButton:hover {
    background-color: #0056b3;
}

.edit-removeButton {
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.removeButton {
    margin-left: 30px; 
}

.rem-editButton{
    padding-left: 30px;
}
.location-box {
    border: 1px solid #ddd;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.map-container {
    width: 100%;
    height: 200px;
    margin-top: 15px;
}

.address-info {
    margin-top: 15px;
}

.address-info p {
    margin: 0;
}

